<launch>
    <node pkg="remote_control" name="remote_server" type="server_test_1.py" output="screen"/>
    <node pkg="remote_control" name="remote_control" type="PAAP_remote.py"> 
        <param name="/vehicle/wheelMaxTurnAngular" value="26" type="double"></param>
        <param name="/remote/steeringMaxTurnAngular" value="100" type="double"></param>
    </node>
</launch>
